<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rohit.examples.android.thefizzquiz">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/quiz_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quiz_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>